{{"{% extends 'base.html.twig' %}"}}
{% verbatim %}
{% block content %}
    <div>
        <span>The controller name is {{ controllerName }}</span>
        <span style="color: red;">
            Configure your project fonts sizes in <strong>assets/styles/common/_fonts.scss</strong>.
            <br/>
            And don't forget to run <strong>npm run watch</strong> to see your modifications.
        </span>
        <h1>This is an H1</h1>
        <h2>This is an H2</h2>
        <h3>This is an H3</h3>
        <h4>This is an H4</h4>
        <h5>This is an H5</h5>
        <h6>This is an H6</h6>
        <p>This is a paragraph</p>
        <span>This is a span</span>
        <a href="#">This is a link</a>
        <ul>
            <li>List item 1</li>
            <li>List item 2</li>
        </ul>
        <strong>This is strong text</strong>
        <em>This is emphasized text</em>
        <small>This is smaller text</small>
    </div>
    
{% endblock %}

{% endverbatim %}