<nav id="sidebarMenu" class="p-0 col-md-3 col-lg-2 d-md-block sidebar collapse border-right">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_profile') }}">
                    <span data-feather="home"></span>
                    Mon profil
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_reports') }}">
                    <span data-feather="file"></span>
                    Mes déclarations
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_data') }}">
                    <span data-feather="file-text"></span>
                    Mes données
                </a>
            </li>
        </ul>
    </div>
</nav>

