{% extends 'base.html.twig' %}

{% block title %}Formulaire de renseignements{% endblock %}

{% block image_section %}
    <section class="map-image">
        <div class="main-img-wrapper">
            <h1>Formulaire de renseignements</h2>
            <img class="img-fluid" src="{{ asset('images/main-image-doctor.webp') }}" alt="Docteur dans son cabinet médical, habillé en blouse blanche, les mains dans le poches et de face."/>
        </div>
    </section>
{% endblock %}


{% block content %}
    <section class="mt-5" data-controller="form">
        <div class="container">
            <div id="form-container">

            </div>
        </div>
    </section>
{% endblock %}

