<ul class="breadcrumb mt-2">
    {% for breadcrumb in breadcrumbs() %}
        <li class="{% if loop.index > 1 %}ms-1{% endif %} me-1">
            {% if breadcrumb.url is not null %}
                <a href="{{ breadcrumb.url }}">{{ breadcrumb.label }}</a>
            {% else %}
                {{ breadcrumb.label }}
            {% endif %}
        </li>
        {% if not loop.last %}-{% endif %}
    {% endfor %}
</ul>
