<ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs() %}
        <li>
            {% if breadcrumb.url is not null %}
                <a href="{{ breadcrumb.url }}">{{ breadcrumb.label }}</a>
            {% else %}
                {{ breadcrumb.label }}
            {% endif %}
        </li>
    {% endfor %}
</ul>